body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Afacad Flux", sans-serif;
  font-optical-sizing: auto;
  /* padding: 10px; */
}
.cards-list-wrap {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
  padding: 50px;
  padding-top: 70px;
  gap: 50px;
}
.nav-bar {
  background-color: #fe8239;
  top: 0;
  position: absolute;
  width: 100%;
  overflow: hidden;
  padding-top: 20px;
  padding-bottom: 20px;
}
.nav-title {
  margin-left: 20px;
  font-size: 18px;
}
.card-container {
  width: 95%;
  position: relative;
  max-width: 800px;
  margin: auto;
  background: #fff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 25px;
  border-radius: 25px;
  min-height: 150px;
  transition: all 0.3s;
}
.logoBox {
  /* content: ""; */
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 0;
  width: 20%;
  height: 50%;
  background-image: linear-gradient(147deg, #fe8a39 0%, #fd3838 74%);
  border-radius: 20px;
  opacity: 0.8;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.card-body {
  padding-right: 25px;
  padding-left: 50px;
}
.title {
  font-size: 24px;
  font-weight: 700;
  color: #0d0925;
  margin-bottom: 20px;
}
.description {
  color: #4e4a67;
  margin-bottom: 30px;
  line-height: 1.5em;
}
.buttonWrap {
  display: flex;
  justify-content: center;
}
.button {
  display: inline-flex;
  background-image: linear-gradient(147deg, #fe8a39 0%, #fd3838 74%);
  padding: 15px 35px;
  border-radius: 10px;
  color: #fff;
  box-shadow: 0px 14px 80px rgba(252, 56, 56, 0.4);
  text-decoration: none;
  font-weight: 500;
  justify-content: center;
  text-align: center;
  letter-spacing: 1px;
  border: 0;
  cursor: pointer;
}
.popup {
  position: fixed;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #6a994e;
  color: #fff;
  padding: 20px;
  border-radius: 5px;
  display: none;
  transition: opacity 0.3s ease-in-out;
  /* z-index: -1; */
  z-index: 99;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 1);
}
.popup.show {
  display: block;
}

.logoBox img {
  max-width: 100%;
  max-height: 100%;
}
